*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: slateblue;    
}

html::-webkit-scrollbar{
    display: none;
}

#sideMenu {
    position: fixed;
}

#sideMenu ul {
    height: 100%;
    width: 100%;
    padding: 1rem;
    list-style: none;
}

#sideMenu ul li {
    display: flex;
    width: 10rem;
    height: 3rem;
    align-items: center;
    color: white;
    margin:.5rem 0;
    cursor: pointer;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#sideMenu ul li svg {
    fill: slateblue;
    width: 3rem;
    height: 3rem;
    padding: .5rem;

}

#sideMenu ul li span {
    margin-left: 1rem;
    color: transparent;
    transition: .3s ease-in-out;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.icon {
    height: 1rem;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50%;
    padding: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-out;
}

#sideMenu ul li:hover span{
    color: white;
    
}

.iconHolder {
    width: 3rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------*/


.container {
    height: 90hv;
    width: 60vw;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile {
    display: flex;
    align-items: center;
}

.picture {
    margin: 0 2rem;
}

.picture img {
    height: 8rem;
    border-radius: 50%;
    border: 5px solid white;
}

.about {
    display: flex;
    padding: 1rem;
    margin: 1rem;
}

.about h2 {
    margin-bottom: 2rem;
}

.about p {
    font-size: 1.2rem;
}

/* ---------------- */

#Skills h1 {
    margin-bottom: 2rem;
}

#skillList li {
    margin-bottom: 1rem;
}
#skillList li h2 {
    margin-bottom: .5rem;
}

.skillPoint {
    height: 1.2rem;
    margin-right: .2rem;
    aspect-ratio: 1;
    border: 2px solid white;
    border-radius: 50%;

}

.skillLvl {
    display: flex;
}

.activePoint {
    background-color: white;
}

#Skills .container {
    display: flex;
}